body,
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 4px solid gray;
}

#display {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100px;
    width: auto;
    border-bottom: 4px solid gray;
}

#display p {
    padding: 0px;
    margin: 0;
}

#buttons {
    display: flex;
    height: 100%;
    width: 100%;
}

#numbers {
    flex-grow: 2.6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#operators button {
    background-color: rgb(255, 255, 134);
}

button {
    flex-grow: 1;
    font-size: 1rem;
}

#clear {
    color: white;
    background-color: rgb(199, 0, 0);
}