body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(63, 245, 255);
}

h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 6px rgb(68, 68, 68);
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    box-shadow: 1px 1px 20px rgb(106, 106, 106);
}

#display {
    padding: 0px 20px;;
    font-size: 3rem;
    font-family: 'Orbitron', Times, serif;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100px;
    width: auto;
    background-color: rgb(25, 27, 49);
}

#buttons {
    display: flex;
    height: 100%;
    width: 100%;
}

#numbers {
    flex-grow: 2.6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#operators button {
    background-color: rgb(225, 225, 225);
}

button {
    flex-grow: 1;
    font-size: 1.3rem;
    border: none;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    background-color: white;
}

#clear {
    color: white;
    background-color: rgb(199, 0, 0);
}

#equals.equals {
    background-color: rgb(155, 155, 155);
}